<!-- Collection List -->
<template name="postsList">
  <div class="posts">
    {{#each postsWithRank}}
      {{> postItem}}
    {{/each}}

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{/if}}
  </div>

  {{#if currentUser}}
    {{> uploadnxb}}
  {{/if}}
</template>

<!-- Collection Summary -->
<template name="postItem">
  <div class="post" {{attributes}}>
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3> <a href="{{pathFor 'postPage'}}">{{title}}</a> </h3>
      <p>
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "link"}}</a>
      </p>

      {{#if url}}
        <p><a href="{{url}}">{{domain}}</a></p>
      {{/if}}
      {{#if message}}
        <blockquote>
        {{message}}
        </blockquote>
      {{/if}}

      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}}
      </p>     
        <a href="#" class="btn btn-mini duplicate" > duplicate </a>
        <a href="#" class="btn btn-mini btn-danger delete" > delete </a>       
    </div>
    {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="discuss btn">Edit</a>{{/if}}
  </div>
</template>


<!-- Collection Detail View -->
<template name="postPage">
  {{> postItem}}

  <div class="btn-group">
    {{#if hasSelectedLinks}}
    <button class="btn btn-mini btn-warning" >Check All</button>
    <button class="btn btn-mini btn-danger">Move</button>
    {{/if}}
  </div>

  <ul class="comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </ul>
  
  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}
</template>
