<template name="postEdit">
  <form class="main">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name your post"/>
        </div>
    </div>

    <!-- Modal: Confirm Merge -->
    <div id="modal-confirm-merge" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-merge-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal-title">Existing collection with same title</h3>
      </div>
      <div class="modal-body">
        <p>Merge to the existing collection and delete this collection?</p>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" class="btn btn-primary btn-merge">Merge</a>
      </div>
      <input name="mergeto" type="hidden" value=""/>
    </div>    

    <div class="control-group">
        <label class="control-label" for="message">Description (optional)</label>
        <div class="controls">
            <textarea name="message" type="text" >{{message}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="url">URL (optional)</label>
        <div class="controls">
            <input name="url" type="text" value="{{url}}" placeholder="Your URL"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete post</a>
        </div>
    </div>
  </form>
</template>

