<!-- Collection List -->
<template name="postsList">
  <div class="posts">
    {{#each postsWithRank}}
      {{> postItem}}
    {{/each}}

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{/if}}
  </div>

  {{#if currentUser}}
    {{> uploadnxb}}
  {{/if}}
</template>

<!-- Collection Summary -->
<template name="postItem">
  <div class="post" {{attributes}}>
    <!--a href="#" class="upvote btn {{upvotedClass}}">⬆</a-->
    <div class="post-content">
      {{#if editingTitle}}
        <input type="text" name="edit-title" class="input-edit-title" value="{{title}}"/>
      {{else}}
      <h3> <a href="{{pathFor 'postPage'}}">{{title}}</a> 
          <a href="#" class="btn btn-mini edit-title"><i class="icon-edit"></i> </a> 
      </h3>
      {{/if}}

      {{#if showAlertMergeConfirm}}
      <div class="alert alert-info alert-merge">
        Merge into collection with the title?
        <a href="#" class="btn btn-primary btn-mini merge-confirm" > Merge </a>
      </div>
      {{/if}}

      <p>
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "link"}}</a>
      </p>

      {{#if url}}
        <p><a href="{{url}}">{{domain}}</a></p>
      {{/if}}
      {{#if message}}
        <blockquote>
        {{message}}
        </blockquote>
      {{/if}}

      <p>
        by {{author}}
      </p>     
        {{#if ownPost}}
          <a href="{{pathFor 'postEdit'}}" class="btn btn-mini">Edit</a>
        {{/if}}
        <a href="#" class="btn btn-mini btn-danger delete" > delete </a>       
        <a href="#" class="btn btn-mini duplicate" > duplicate </a>
    </div>
    {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="discuss btn">Edit</a>{{/if}}
  </div>
</template>


<!-- Collection Detail View -->
<template name="postPage">
  {{> postItem}}

  <div class="btn-group">
    {{#if hasSelectedLinks}}
    <button class="btn btn-mini btn-warning" >Check All</button>
    <button class="btn btn-mini btn-danger">Move</button>
    {{/if}}
  </div>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}

  <ul class="comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </ul>
  
</template>
