<template name="comment">
  <li>
      {{#if editing}}
        {{> comment_edit}}
      {{else}}
        {{> comment_view}}
      {{/if}}
  </li>
</template>

<template name="comment_edit">
  <form name="comment" class="comment-form">
    <span for="label">Label</span>
    <input type="text" name="label" value="{{label}}"/>
    <span for="url">URL</span>
    <input type="text" name="url" value="{{url}}"/>
    <label for="body">Description (optional)</label>
    <textarea name="body">{{body}}</textarea>

    <button class="btn btn-mini btn-danger cancel">Cancel</button>
    <button class="btn btn-mini done" type="submit">Done</button>
  </form>
</template>

<template name="comment_view">    

    <h4>
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked"> {{displayLabel}}
    </label>
    </h4>
    <div>
      {{#if extraParams}}
      <span class="badge badge-info"><i class="icon-lock"></i>{{extServer}}</span>
      <span class="badge badge-info"><i class="icon-home"></i>{{extCompany}}</span>
      {{/if}}

      <blockquote>
        {{body}}
      </blockquote>
    </div>
    <div>
      <span class="url"><i class="icon-chevron-right"></i> <a href="{{url}}">{{url}}</a></span>      
    </div>

  {{#if currentUser}}
    <button class="btn btn-mini btn-danger delete">Delete</button>
    <button class="btn btn-mini edit">Edit</button>
  {{/if}}
</template>
